.create-chart {
  align-self: center;
  width: 85vw;
  max-width: 700px;
}

.create-fieldset {
  display: flex;
  flex-direction: column;
  padding: 1.5vh 0.5vw;
  border: 0.1vmin solid var(--secondary-linen-color);
  border-radius: 0.35vmin;
}

.create-fieldset__legend {
  margin-left: 2vmin;
  padding: 1vmin;
  border: 0.2vmin solid var(--secondary-linen-color);
  border-radius: 0.35vmin;
  font-size: 1.3vmax;
}

.create-fieldset__label {
  margin: 0.5vmin 2vmin;
  font-size: 1.25vmax;
}

.create-fieldset__input {
  margin: 0 2vmin 1vmin 2vmin;
  padding: 0.6vmin;
  border: 0.2vmin solid var(--primary-linen-color);
  box-shadow: inset 0 0.1vmin 0.1vmin var(--primary-linen-color);
  border-radius: 0.35vmin;
  font-size: 1vmax;
}

.create-fieldset__button {
  align-self: center;
  padding: 0.5vmin;
  margin-top: 1vmin;
  width: 15vw;
  min-width: 20vmin;
  border: 0.1vmin solid var(--secondary-linen-color);
  border-radius: 0.35vmin;
  background: var(--button-green);
  color: white;
  font-family: 'Chivo', sans-serif;
  font-size: 1.25vmax;
  cursor: pointer;
}

.create-fieldset__button:hover {
  background: var(--button-accent-green);
}

@media all and (max-width: 1080px) {

  .create-fieldset__legend {
    font-size: 1.6vmax;
  }
  
  .create-fieldset__label {
    font-size: 1.55vmax;
  }
  
  .create-fieldset__input {
    font-size: 1.3vmax;
  }
  
  .create-fieldset__button {
    font-size: 1.55vmax;
  }
}

@media all and (max-width: 860px) {
  
  .create-fieldset__legend {
    font-size: 1.9vmax;
  }
  
  .create-fieldset__label {
    font-size: 1.85vmax;
  }
  
  .create-fieldset__input {
    font-size: 1.6vmax;
  }
  
  .create-fieldset__button {
    font-size: 1.85vmax;
  }
}
